@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.bodoni-moda-regular {
	font-family: "Bodoni Moda", serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
  }
  .playwrite-nz-regular {
	font-family: "Playwrite NZ", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
  }
  

.entradas{
    width: 475px;
    height: 804px;
	margin-bottom: 250px;
    position: absolute;
    text-align: center;
    background: linear-gradient(rgb(8, 33, 100), rgb(26, 132, 231));
    color:white;
    font: inherit;
    font-family:Arial;

    
}

.texto{
    margin-top: 300px;
}

.boton {
	background-color:#000000;
	border-radius:42px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:19px;
	padding:11px 76px;
	text-decoration:none;
}
.boton:hover {
	background-color:#ffffff;
}
.boton:active {
	position:relative;
	top:1px;
}
.carru{
    width: 1427px;
    margin-left: 475px;
    margin-top: 82px;

}
body{
	background-image: url(imagenes/fondito.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	}
.titulo{
	color: #dd9613;
	text-align: center;
	margin-bottom: 150px;
	margin-top: 100px;
	font-family: "Playwrite NZ", serif;
	font-weight: 700;
	font-size: 100px;


	
	
}